<link href="css/site/Site.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/jquery.validate.unobtrusive.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <script src="js/DataTables/jquery.dataTables.min.js"></script>
        <script src="js/DataTables/dataTables.scroller.min.js"></script>
        <script src="js/DataTables/dataTables.bootstrap.min.js"></script>
        </head>