<!DOCTYPE html>
<html lang="en">
    <!--CABECERA-->
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--LINKS-->
        <link href="../../css/site/site.css" rel="stylesheet">
        <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <style>
            .borde{border: 1px #000 solid; text-align: center; height: 50px;}
            .color1{background: #eeeeee;}
            .color2{background: #fcc314;}
            .color3{background: #94ac3c;}
            .color4{background: #295ba7;}
        </style>
    </head>

    
    <body>

        <div class="container">
            <div class="row col-sm-12 col-md-12">
                <!--BREADCRUMB-->            
                <ul class="breadcrumb col-sm-12 col-md-12">
                    <li><a href="index.html">Lista Paciente</a></li>
                    <li class="active">Nuevo Paciente</li>
                </ul> 
            </div>
            <!--TEXT MAINTENANCE-->
            <div class="row col-sm-12 col-md-12">
                <h3 class="header-title"><i class="glyphicon glyphicon-saved"></i>Nuevo Paciente</h3>
                <hr />
            </div>
        </div>

        <!--FORM MAINTANCE-->
        <div class="container" class="col-sm-12 col-md-12">
            <!--FORM-->
            <form>  
                <div class="form-horizontal"> 
                                        <!--NAME-->
                                        <div class="form-group row">
                                            <label for="nombre" class="control-label col-sm-2 col-md-2">Nombres :</label>
                                            <div class="col-sm-10 col-md-10">
                                                <input type="text" class="form-control" id="nombre" placeholder="Nombres">
                                            </div>
                                        </div>
                                        <!--PATERNAL SURNAME-->
                                        <div class="form-group row">
                                            <label for="apPaterno" class="control-label col-sm-2 col-md-2">Apellido Paterno :</label>
                                            <div class="col-sm-10 col-md-10">
                                                <input type="text" class="form-control" id="apPaterno" placeholder="Apellido Paterno">
                                            </div>
                                        </div>
                                        <!--MOTHER'S SURNAME-->
                                        <div class="form-group row">
                                            <label for="apMaterno" class="col-form-label col-sm-2 col-md-2">Apellido Materno :</label>
                                            <div class="col-sm-10 col-md-10">
                                                <input type="text" class="form-control" id="apMaterno" placeholder="Apellido Materno">
                                            </div>
                                        </div>
                                        <!--DNI-->
                                        <div class="form-group row">
                                            <label for="dni" class="col-form-label col-sm-2 col-md-2">DNI :</label>
                                            <div class="col-sm-10 col-md-10">
                                                <input type="text" class="form-control" id="dni" placeholder=" Example: 99999999">
                                            </div>
                                        </div>
                                        <!--DATE-->
                                        <div class="form-group row">
                                            <label for="example-date-input" class="col-form-label col-sm-2 col-md-2">F. Nacimiento :</label>
                                            <div class="col-sm-4 col-md-4">
                                                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                                            </div>
                                        </div>
                                        <!--STATE-->
                                        <div class="form-group row">
                                            <label for="estado" class="col-sm-2 col-md-2 col-form-label">Estado :</label>
                                            <div class="col-sm-10 col-md-10">
                                                <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="optionsRadios" id="estado" value="Activo" disabled checked>
                                                Activo
                                            </label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Crear Paciente" class="btn btn-primary" />
                                            </div>
                                        </div>
                    </div>
            </form>     
        </div>
        <!--RETURN-->
        <div class="container">
            <div class="row col-sm-12 col-md-12">
                <a href="index.html"><strong>Regresar</strong> </a>
            </div>
        </div>

    </body>
</html>