body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Microsoft NeoGothic','Segoe UI',Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}

        body{
            font-family: 'Microsoft NeoGothic','Segoe UI',Arial, sans-serif;
        }

body input[type="text"] {
    border-radius: unset;
    border-style:none;
    border-bottom: 1.5px solid #989898;
}

body form input[type="text"]:focus {
    box-shadow: none;
    border-bottom: 3px solid #0094ff;
}
.header-title{
    color:#0094ff;
    font-weight:100;
}

.btn-modal{
    cursor:pointer;
}
.thead-abcm{
   color:#ffffff;
   background:#0094ff;
}


/********************BREADCRUMB********************************/
/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/***************************************************************/
